<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <system.serviceModel>
    
    <services>
      <service name="FlipCaseService.FlipCaseService">
        <endpoint address="flipcase/wsAddress" binding="wsHttpBinding" contract="FlipCaseService.IFlipCaseService" bindingConfiguration="wsHttp">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="flipcase/basic" binding="basicHttpBinding" contract="FlipCaseService.IFlipCaseService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="net.tcp://localhost/FlipCaseNetTcp" binding="netTcpBinding" contract="FlipCaseService.IFlipCaseService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="flipcase/mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/FlipCaseService/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
